<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>particleAlpha</key>
	<real>0.9</real>
	<key>particleBlue</key>
	<real>0.0</real>
	<key>particleColorCycle</key>
	<integer>1</integer>
	<key>particleCount</key>
	<integer>5000</integer>
	<key>particleGreen</key>
	<real>0.0</real>
	<key>particleRed</key>
	<real>1</real>
	<key>particleSize</key>
	<real>1</real>
	<key>particleSpeed</key>
	<real>1</real>
	<key>particleTail</key>
	<real>0.9</real>
	<key>preventSleep</key>
	<integer>1</integer>
</dict>
</plist>
